#contenedorImagenTexto {
    position: relative;
}

#imagenContactanos {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

#tituloContactenos {
    color: white;
    font-weight: bold;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#textoContactenos {
    color: white;
    font-weight: bold;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}