<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      font-family: Arial, sans-serif;
      max-width: 800px;
      margin: 0 auto;
    }
    
    h1, h2 {
      color: #333;
    }
    
    table {
      border-collapse: collapse; 
      width: 100%;
    }
    
    td, th {
      border: 1px solid #ddd;
      padding: 8px; 
    }
    
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  </style>
</head>

<body>

  <h1>Detalles de la petición</h1>
  
  <table>
    <tr>
      <td>Correo del cliente</td> 
      <td>{{clientEmail}}</td>
    </tr>
    <tr>
      <td>Tipo</td>
      <td>{{requestType}}</td> 
    </tr>
    <tr>
      <td>Petición</td>
      <td>{{requestMessage}}</td>
    </tr>
    <tr>
      <td>Fecha</td>
      <td>{{requestDate}}</td>
    </tr>
  </table>
  
</body>
</html>