.tarjetaServicio {
    min-height: 150px;
    max-height: 300px;
    transition: all .2s ease-in-out;
}

.tarjetaServicio:hover {
    transform: scale(1.03);
}

.card-text {
    max-height: 4.5em;
    text-overflow: ellipsis; 
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}