.carousel-inner .carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.carousel-inner .carousel-item video{
    height: 80%;
    width: 80%;
    object-fit: scale-down;
    display: flex;
    justify-content: center;
    align-items: center;
}