.tarjetaContacto {
    min-height: 250px;
    max-height: 300px;
    transition: all .2s ease-in-out;
}

.tarjetaContacto:hover {
    transform: scale(1.03);
}

.card-body a:hover {
    color: grey !important;
}