#contenedorImagenTexto {
    position: relative;
}

#imagenServicios {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

#tituloServicios {
    color: white;
    font-weight: bold;
    position: absolute;
    top: 175px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow:
        -1px 0px 0px grey,
        1px 0px 0px grey,
        0px -1px 0px grey,
        0px 1px 0px grey;
}

#textoServicios {
    color: white;
    font-weight: bold;
    position: absolute;
    width: 100%;
    top: 225px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow:
        -1px 0px 0px grey,
        1px 0px 0px grey,
        0px -1px 0px grey,
        0px 1px 0px grey;
}