#contenedorCartaTexto {
    text-align: justify;
}

.imagenMaquina {
    height: auto;
    width: 260px;
    transition: transform 0.5s ease-in-out;
}

.rueda {
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.rueda:hover {
    transform: scale(1.1);
}

.mostrarImagenesCompleto {
    position: fixed;
    padding-top: 5px;
    top: 0;
    left: 0;
    margin: 0 !important;
    width: 100%;
    height: 100%;
    z-index: 9999;
    overflow: auto;
    background-color: rgba(33, 37, 41, 0.99);
}

.mostrarImagenesCompleto .imagenMaquina {
    height: 75%;
    width: auto;
    object-fit: scale-down;
}
